{{#each this}}
<div>
    <div class="flex">  <img src="{{flags.svg}}" width="50px" />
    <h2>{{name.official}}</h2></div>
    <p class="">Capital: <span class="">{{capital}}</span> </p>
    <p>Population: <span class="">{{population}}</span> </p>
    <p>Languages: {{#each languages}}<span>{{ this}} </span>{{/each}}</p>
    
</div>
{{/each}}